@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="FizzBuzz" method="post">
        <input type="submit" value="FizzBuzz!" />
    </form>
    <form asp-action="FizzBuzzNumbersOnly" method="post">
        <input type="submit" value="Numbers Only" />
    </form>
</div>