@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FizzBuzz Generator</h1>
    <form action="/Home/FizzBuzz" method="post">
        <input type="submit" value="Run FizzBuzz!"/>
    </form>
</div>