@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="FizzBuzzOutput" method="post">
        <input type="submit" value="FizzBuzz!" style="margin-bottom: 10px"; />
    </form>
    <form asp-action="FizzBuzzNumbersOnlyOutput" method="post">
        <input type="submit" value="Numbers Only" style="margin-bottom: 10px" />
    </form>
</div>